# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# Please make sure to check all the converted content, it is your team's responsibility to make sure that the pipeline is still valid and functions as expected.
# This pipeline will be extended to the OneESPT template
# If you are not using the E+D shared hosted pool with windows-2022, replace the pool section with your hosted pool, os, and image name. If you are using a Linux image, you must specify an additional windows image for SDL: https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/1es-pipeline-templates/features/sdlanalysis/overview#how-to-specify-a-windows-pool-for-the-sdl-source-analysis-stage
# The Task 'PublishBuildArtifacts@1' has been converted to an output named 'Publish Artifact: vsix' in the templateContext section.
trigger:
  branches:
    include:
    - master

variables:
- name: CodeQL.Enabled
  value: true

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      sourceAnalysisPool:
        name: 1ESPtTfsAgentBuildPoolSDL
        # image: abtt-windows-2022
        # os: windows
    pool:
      name: 1ESPtTfsAgentBuildPool1
      # image: abtt-ubuntu-2204
      # os: linux
    customBuildTags:
    - ES365AIMigrationTooling

    stages:
    - stage: stage
      jobs:
      - job: Phase_1
        displayName: Agent job 1
        cancelTimeoutInMinutes: 1
        templateContext:
          outputs:
          - output: pipelineArtifact
            displayName: 'Publish Artifact: vsix'
            targetPath: '$(System.ArtifactsDirectory)'
            artifactName: vsix

        steps:
        - checkout: self
          clean: true
          fetchTags: false

        - task: UseNode@1
          displayName: Use Node
          inputs:
            version: '20.14.0'

        - task: NpmAuthenticate@0
          inputs:
            workingFile: .npmrc

        - task: Npm@1
          name: Npm_1
          displayName: npm install
          inputs:
            command: 'install'
            verbose: false

        - task: CmdLine@2
          displayName: Build
          inputs:
            script: node make.js build

        - task: CmdLine@2
          displayName: Run Tests
          inputs:
            script: node make.js test

        - task: CmdLine@2
          displayName: Create extension
          inputs:
            script: node make.js create

        - task: CopyFiles@2
          name: CopyFiles_5
          displayName: 'Copy Files to: $(System.ArtifactsDirectory)'
          inputs:
            Contents: '*.vsix'
            TargetFolder: $(System.ArtifactsDirectory)
